flask==2.0.1
flask_cors
# bjoern

spotipy==2.16.1
peewee==3.13.3
cachetools
click

# Deployment
uwsgi

# we need sqlite3 with json support
#  to avoidpeewee.OperationalError: no such function: json
#  see https://github.com/coleifer/pysqlite3
pysqlite3-binary
